APScheduler==3.8.1
eventlet==0.33.0
Flask==2.0.2
Flask-APScheduler==1.12.3
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
pytest==7.0.1
requests==2.27.1
SQLAlchemy==1.4.31
pymysql
minio==7.1.10